* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 1.1rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 7vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}
nav img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}
nav .navigation {
  display: flex;
}
#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}
#menu-close {
  display: none;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}
nav .navigation ul li a.active,
nav .navigation ul li a:hover {
  color: #fdc93b;
}
.menubutton {
  text-decoration: none;
  margin: 25px;
  padding: 13px;
  border-radius: 100px;
  border: none;
  font-size: 13px;
  background-color: rgb(21, 21, 100);
  color: white;
}
/* button anima */
.menubutton button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #fdc93b;
  color: #fdc93b;
  letter-spacing: 1px;
  text-shadow: 0;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  border: 1px rgb(21, 21, 100);
  color: rgb(21, 21, 100);
  font-weight: 500;
  background: #fdc93b;
  transition: 0.3s ease;
}
button:active {
  color: rgb(21, 21, 100);
}
.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #fdc93b;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:hover {
  color: #fdc93b;
  background: white;
}
.validate {
  font-size: 13px;
  color: white;
  background: #fdc93b;
}

/* Home */
#home {
  /* linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
  background-image: url("./images/trangChu/banner1.png"); */
  width: 100%;
  height: 130vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-top: 10px; */
}
#home img {
  width: 100%;
  /* height: 60%; */
}
#home h2 {
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
  padding-top: 10%;
  position: absolute;
}

#home p {
  width: 50%;
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding-top: 20%;
  position: absolute;
}
#home .btn {
  margin-top: 30px;
  position: absolute;
  padding-top: 30%;
}

#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
#home a.blue {
  color: #fff;
  background: rgb(21, 21, 100);
  transition: 0.3s ease;
}
#home a.blue:hover {
  color: rgb(21, 21, 100);
  background: #fff;
}
#home a.yellow {
  color: #fff;
  background: #fdc93b;
  transition: 0.3s ease;
}
#home a.yellow:hover {
  color: rgb(21, 21, 100);
  background: #fff;
}


/* Features */
#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
.info2 {
  margin: 20px;
}
#features .fea-box {
  background: #c5c5f0;
  text-align: start;
  border: 2px solid rgb(44, 44, 80);
  border-radius: 2px;
  border-style: dashed;
  padding: 20px 0;
  width: 100%;
}
#features .fea-box img {
  padding-left: 30%;
}
#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}
#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  padding: 13px 0 7px 0;
  text-align: center;
}
#features .fea-box p {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
#features .fea-box path {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}




/* Course */
#course {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}
#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#course .courses {
  text-align: start;
  background: #f9f9ff;
  height: 100%;
  position: relative;
}
#course .courses img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}
#course .courses .details {
  padding: 15px 15px 0 15px;
}
#course .courses .details i {
  color: #fdc93b;
  font-size: 0.9rem;
}
#course .courses .cost {
  background-color: rgb(74, 74, 136);
  color: #fff;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 100px;
}
/* Registration */

#registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(
      rgba(99, 112, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url("./images/trangChu/banner2.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#registration .reminder {
  color: #fff;
}
#registration .reminder h1 {
  color: #fff;
}
#registration .reminder .time {
  display: flex;
  margin-top: 40px;
}
#registration .reminder .time .date {
  text-align: center;
  padding: 13px 33px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  font-size: 1.1 rem;
  font-weight: 600;
}
#registration .form {
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#registration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
}
#registration .form input::placeholder {
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9;
}
#registration .form .btn {
  margin-top: 20px;
  margin-left: 40px;
}
@keyframes doimauchu {
  from {
    color: #fff;
  }
  to {
    color: red;
  }
}
#registration .form a.yellow {
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 13px;
  padding: 13px 35px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  background: #010183;
  transition: 0.3s ease;
  animation: doimauchu ease-in-out 0.8s infinite;
}
#registration .form a.yellow:hover {
  /* color: rgb(21, 21, 100); */
  background: #fff;
}
/* Experts */
#experts {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}
#experts .expert-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#experts .expert-box .profile {
  background: #fafaf1;
  padding: 30px 10px;
}
.pro-links {
  margin-top: 10px;
}
.pro-links i {
  padding: 10px 13px;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
  transition: 0.3s ease;
}
.pro-links i:hover {
  background: rgb(21, 21, 100);
  color: #fff;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
}

/* Teacher-inner */
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/bree-serif-2");
/* Profile-inner */
#container {
  background: #ffffff;
  overflow-x: hidden;
  padding-top: 26%;
  font-family: "poppins", sans-serif;
  margin: 0 100px;
}
#container .profile-header {
  background: #e1dfdf;
  width: 93%;
  display: flex;
  height: 230px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  right: 50px;
  top: 22%;
  z-index: 5;
}
#container .profile-header .profile-img {
  float: left;
  width: 280px;
  height: 160px;
}
#container .profile-header .profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
}
#container .profile-header .profile-nav-info {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-left: 60px;
}
#container .profile-header .profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}
#container .profile-header .profile-nav-info .address {
  font-weight: bold;
  color: #777;
}
#container .profile-header .profile-nav-info .address p {
  margin-right: 5px;
}
#container .profile-header .profile-option {
  width: 40px;
  height: 40px;
  background: red;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
}
#container .profile-header .profile-option .notification i {
  padding-top: 10px;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}
#container .profile-header .profile-option:hover {
  background: #fff;
  border: 1px solid red;
}
#container .profile-header .profile-option:hover .notification i {
  color: red;
}
#container .profile-header .profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: red;
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}
#container .main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
  height: 500px;
  position: relative;
}

#container .main-bd .left-side .profile-side {
  width: 320px;
  background: #dad9d9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 30px 30px 30px;
  font-family: "Bree Serif", serif;
  margin-left: 1px;
  margin-top: 70px;
  z-index: 99;
}
#container .main-bd .left-side .profile-side p {
  margin-bottom: 15px;
  color: #333;
  font-size: 14px;
}
#container .main-bd .left-side .profile-side p i {
  color: red;
  margin-right: 10px;
}
#container .main-bd .left-side .profile-side .mobile-no i {
  transform: rotateY(180deg);
}
#container .main-bd .left-side .profile-side .profile-btn {
  display: flex;
}
#container .main-bd .left-side .profile-side .chatbtn,
#container .main-bd .left-side .profile-side .createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  height: 10%;
  border-radius: 3px;
  background: red;
  font-family: "Bree Serif", sans-serif;
  font-size: 1rem;
  margin: 5px 8px 10px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  color: #fff;
}
#container .main-bd .left-side .profile-side .chatbtn:hover,
#container .main-bd .left-side .profile-side .createbtn:hover {
  background: #fff;
  color: red;
}
#container .main-bd .left-side .profile-side .chatbtn i,
#container .main-bd .left-side .profile-side .createbtn i {
  margin-right: 5px;
}
#container .main-bd .right-side {
  padding-left: 10px;
  padding-top: 70px;
}
#container .main-bd .right-side .nav {
  width: 100%;
  /* z-index: -1; */
}
#container .main-bd .right-side .nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  background: #fffefe;
  /* box-shadow: 50px 2px 5px rgba(0, 0, 0, 0.3); */
}
#container .main-bd .right-side .nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
#container .main-bd .right-side .nav ul li.active {
  box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
}
#container .main-bd .right-side .nav ul li:hover {
  box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
}
#container .main-bd .right-side .profile-body {
  width: 100%;
  z-index: -1;
}
#container .main-bd .right-side .profile-body .tab {
  padding: 20px;
  width: 1000px;
}
#container .main-bd .right-side .profile-body .tab p {
  padding-top: 10px;
  padding-left: 20px;
}
/* Footer */
footer {
  padding: 8vw;
  background-color: #101c32;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .footer-col {
  padding-bottom: 40px;
}
footer h3 {
  color: rgb(241, 240, 245);
  font-weight: 600;
  padding-bottom: 20px;
}
footer li {
  list-style-type: none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transform: 0.3s ease;
}
footer li:hover {
  color: rgb(241, 240, 245);
}
footer p {
  color: #7b838a;
}
footer .subcribe {
  margin-top: 20px;
}
footer input {
  width: 220px;
  padding: 15px 12px;
  background: #334f6c;
  border: none;
  outline: none;
  color: #fff;
}
footer .subcribe a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background-color: #fff;
  font-weight: 600;
}
footer .subcribe a.yellow {
  color: #fff;
  background: #fdc93b;
  transition: 0.3s ease;
}
footer .subcribe a.yellow:hover {
  color: rgb(21, 21, 100);
  background: #fff;
}
footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .copyright p {
  color: #fff;
}
footer .copyright .pro-links {
  margin-top: 0px;
}
footer .copyright .pro-links i {
  background-color: #5f7185;
  color: #fff;
}
footer .copyright .pro-links i:hover {
  background-color: #fdc93b;
  color: #2c2c2c;
}
/* About */
#about-home {
  /* background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url("./images/back.png"); */
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#about-home img {
  width: 100%;
  height: 100%;
}
#about-home h2 {
  color: #fff;
  font-size: 4rem;
  letter-spacing: 1px;
  padding-top: 10%;
  position: absolute;
}
#about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
}
#about-container .about-img {
  width: 50%;
  padding-right: 60px;
}
#about-container .about-img img {
  width: 100%;
}
#about-container .about-text {
  width: 50%;
}
#about-container .about-text h2 {
  color: #29303b;
  padding-bottom: 15px;
}
#about-container .about-text p {
  color: #686f7a;
  font-weight: 300;
}
#about-container .about-text .about-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}
#about-container .about-text .about-fe img {
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}
#about-container .about-text .about-fe .fe-text {
  width: 90%;
}
#about-container .about-text .about-fe .fe-text h5 {
  font-size: 16px;
  color: #29303b;
}
#trust {
  text-align: center;
  padding: 8vw;
}
#trust .trust-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#trust .trust-img img {
  width: 90px;
  height: auto;
}
/* Couses-inner */
#course-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
}
#course-inner h3 {
  padding: 35px 0 25px 0;
  color: #29303b;
}
#course-inner p {
  color: #64626e;
}
#course-inner hr {
  height: 1px;
  background: rgba(235, 226, 229, 0.5);
  margin-top: 40px;
}
#course-inner .overview {
  width: 70%;
}
#course-inner .overview img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}
#course-inner .overview .course-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#course-inner .overview .course-head .c-name {
  width: 70%;
}
#course-inner .overview .course-head .c-name h2 {
  color: #29303b;
}
#course-inner .overview .course-head .c-name .star {
  margin: 6px 0;
}
#course-inner .overview .course-head .c-name .star i {
  color: #fdc93b;
  font-size: 0.9rem;
}
#course-inner .overview .course-head .c-name p {
  font-size: 15px;
}
#course-inner .overview .course-head span {
  padding: 16px 22px;
  border-radius: 5px;
  color: #5838fc;
  font-size: 24px;
  font-weight: 700;
  background-color: rgba(88, 56, 252, 0.1);
}
#course-inner .learn p {
  font-size: 15px;
  padding-bottom: 15px;
}
#course-inner .learn p i {
  color: #654ce4;
  font-weight: 700;
  margin-right: 20px;
}
#course-inner .tutor {
  display: flex;
}
#course-inner .tutor img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
#course-inner .tutor h5 {
  font-size: 15px;
}
#course-inner .enroll {
  width: 300px;
  padding: 0 30px 30px 30px;
  border-radius: 11px;
  box-shadow: 0px 20px 40px 0 rgb(11, 2, 55, 8%);
}
#course-inner .enroll h3 {
  padding-bottom: 10px;
}
#course-inner .enroll p {
  font-size: 15px;
  display: flex;
  margin: 15px 0;
}
#course-inner .enroll p img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  text-align: center;
}
#course-inner .enroll .enroll-btn {
  padding: 25px 0 20x 0;
  margin: auto;
  text-align: center;
}
#course-inner .enroll .enroll-btn a {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 13px 45px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background: rgb(50, 50, 136);
  animation: doimauchu ease-in-out 0.8s infinite;
}
/* Contact */
/* #home img {
  width: 100%;
  height: 100%;
}
#about-home h2 {
  color: #fff;
  font-size: 4rem;
  letter-spacing: 1px;
  padding-top: 23%;
  position: absolute;
} */

@keyframes doimau {
  from {
    color: #fff;
    background-color: red;
  }
  to {
    color: red;
    background-color: #fff;
  }
}
#contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#contact .getin {
  width: 350px;
}
#contact .getin h2 {
  color: #2c234d;
  font-size: 30px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 16px;
}
#contact .getin p {
  color: #686875;
  line-height: 24px;
  margin-bottom: 32px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
}
#contact .getin h3 {
  color: #2c234d;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
}
#contact .getin .getin-details div {
  display: flex;
}
#contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}
#contact .getin .getin-details .pro-links i {
  margin-right: 8px;
}
#contact .getin .getin-details div img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
#contact .form {
  width: 60%;
  background: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
}
#contact .form h4 {
  font-size: 24px;
  color: #2c234d;
  line-height: 30px;
  margin-bottom: 8px;
}
#contact .form p {
  color: #686875;
  line-height: 24px;
  padding-bottom: 25px;
}
#contact .form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}
#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
}
#contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  /* background: red; */
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  animation: doimau ease-in-out 0.8s infinite;
}
#map {
  width: 100%;
  height: 70vh;
  margin-bottom: 8vw;
}
#map iframe {
  width: 100%;
  height: 100%;
}
/* Blogs */

#blog-home {
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
#blog-home img {
  width: 100%;
  height: 80%;
}
#blog-home h1 {
  color: #19015b;
  font-size: 2.2rem;
  letter-spacing: 1px;
  /* padding-bottom: 20%; */
  position: absolute;
}

#blog-container {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
  background-color: #fff;
}
#blog-container .benefit-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#blog-container .benefit-box .benefits {
  text-align: start;
  background: #9b9b9d;
  height: 80%;
  position: relative;
  padding-bottom: 10px;
}
#blog-container .benefit-box .benefits img {
  padding: 20px 35px 10px 35px;
  width: 100%;
  height: 45%;
  background-size: cover;
  background-position: center;
}
#blog-container .benefit-box .benefits .details {
  padding: 15px 15px 0 15px;
  height: 100%;
}
#blog-container .benefit-box .benefits .details h2 {
  padding-left: 20px;
  padding-bottom: 20px;
  color: #2c234d;
}
#blog-container .benefit-box .benefits .details p {
  padding-left: 20px;
  padding-right: 15px;
}

#blog {
  padding: 0vw 8vw 8vw 8vw;
  text-align: center;
  background-color: #fff;
}
#blog h1 {
  padding-bottom: 20px;
}
#blog .benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#blog .benefits .blog-box {
  text-align: start;
  background: #c6c6c9;
  height: 80%;
  width: 80%;
  position: relative;
  padding-bottom: 10px;
}
#blog .benefits .blog-box img {
  padding: 20px 100px;
  height: 50%;
  background-size: cover;
  background-position: center;
}
#blog .benefits .blog-box .details {
  padding: 15px 15px 0 15px;
  height: 100%;
}
#blog .benefits .blog-box .details h2 {
  padding-left: 20px;
  padding-bottom: 20px;
  color: #2c234d;
  text-align: center;
}
#blog .benefits .blog-box .details p {
  padding-left: 20px;
  padding-right: 15px;
  text-align: center;
}
@media (max-width: 769px) {
  nav {
    padding: 15px 20px;
  }
  nav img {
    width: 130px;
    cursor: pointer;
  }
  #menu-btn {
    display: initial;
  }
  #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }
  nav .navigation ul.active {
    right: 0;
  }
  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  nav .navigation ul li a {
    color: #fff;
  }
  #home {
    padding-top: 0px;
  }
  #home p {
    width: 90%;
  }
  #features {
    padding: 8vw 4vw 0 4vw;
  }
  #course {
    padding: 8vw 4vw 0 4vw;
  }
  #registration {
    margin-top: 8vw;
    padding: 6vw 4vw 6vw 4vw;
  }
  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  #experts {
    padding: 8vw 8vw 4vw 8vw;
    text-align: center;
  }
  footer .copyright .pro-links {
    margin-top: 15px;
  }
  /* About */
  #about-container {
    padding: 8vw 4vw 2vw 4vw;
  }
  #about-container .about-img {
    padding-right: 30px;
  }
  #trust .trust-img img {
    width: 50px;
    height: auto;
  }
  /* Course-inner */
  #course-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8vw 4vw;
  }
  #course-inner .overview {
    width: 100%;
  }
  #course-inner .overview .course-img {
    width: 100%;
    height: 100%;
  }
  #course-inner .enroll {
    margin-top: 25px;
  }
  /* Contact */
  #contact {
    padding: 8vw 4vw;
  }
  #contact .getin {
    width: 250px;
  }
  /* Teacher-inner */
  /* #container .main-bd {
    padding-top: 500px;
  } */
  #container .profile-header {
    display: flex;
    height: 320px;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  #container .profile-header .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }
  #container .profile-header .profile-img img {
    position: relative;
  }
  #container .profile-nav-info {
    text-align: center;
  }
  #container .main-bd {
    flex-direction: column;
    padding-right: 0px;
    margin: 280px 0;
    width: 100%;
  }
  #container .main-bd .profile-side {
    width: 100%;
    text-align: center;
    padding: 50px;
    margin: 50px 0;
  }
  #container .main-bd .profile-side .left-side {
    padding-left: 40px;
  }
}
@media (max-width: 475px) {
  #registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* About */

  #about-container {
    flex-direction: column-reverse;
  }
  #about-container .about-img {
    width: 100%;
    padding-right: 0px;
  }
  #about-container .about-text {
    width: 100%;
    padding-bottom: 20px;
  }
  #trust .trust-img {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #trust .trust-img img {
    width: 60px;
    margin: 10px 15px;
    height: auto;
  }
  /* Contact */
  #contact {
    padding: 8vw 4vw;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
  }
  #contact .getin {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact .form {
    width: 100%;
    padding: 40px 30px;
  }
  #contact .form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  #contact .form .form-row input {
    width: 100%;
  }
}
@media (max-width: 376px) {
  footer input {
    width: 100%;
    margin-bottom: 20px;
  }
  #course-inner .overview .course-head .c-name {
    width: 50%;
  }
  #course-inner .overview .course-head .c-name h2 {
    font-size: 22px;
  }
  #course-inner .overview .course-head span {
    font-size: 22px;
  }
  #course-inner .enroll {
    width: 100%;
  }
}
